<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>登録</h1>
    <form action="{{url_for('register_exee')}}" method="post">
      タイトル：<input type="text" name="title"><br>
      サイズ：<input type="text" name="author"><br>
      説明：<input type="text" name="publisher"><br>
      金額：<input type="number" name="pages"><br>
      <button type="submit">登録</button>
    </form>
</body>
</html>